<mat-card class="cardWithShadow overflow-hidden">
  <div class="p-24 bg-light-error text-center">
    <img
      src="assets/images/backgrounds/gifts.png"
      alt="blog-img"
      width="160"
      height="125"
    />
  </div>
  <mat-card-header>
    <div>
      <mat-card-title>Figma Tips and Tricks with Stephan</mat-card-title>
      <mat-card-subtitle class="f-s-14 m-t-4"
        >Checkout latest events going to happen in USA.</mat-card-subtitle
      >
    </div>
  </mat-card-header>
  <mat-card-content class="m-t-15">
    <div class="d-flex align-items-center gap-8">
      <img
        src="assets/images/profile/user-1.jpg"
        alt="user-1"
        class="rounded-circle"
        width="32"
      />
      <img
        src="assets/images/profile/user-2.jpg"
        alt="user-1"
        class="rounded-circle"
        width="32"
      />
      <img
        src="assets/images/profile/user-3.jpg"
        alt="user-1"
        class="rounded-circle"
        width="32"
      />
      <img
        src="assets/images/profile/user-4.jpg"
        alt="user-1"
        class="rounded-circle"
        width="32"
      />
      <span
        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
        >+8
      </span>
    </div>
  </mat-card-content>
</mat-card>
