<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-flex align-items-center justify-content-between w-100">
      <mat-card-title>Upcoming Schedules</mat-card-title>
      <button
        mat-icon-button
        color="inherit"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon
          class="f-s-24 d-flex align-items-center justify-content-center"
          >more_vert</mat-icon
        >
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="m-t-30">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" class="custom-tabs">
      <mat-tab label="1 To 3">
        <div>
          <ng-scrollbar class="position-relative" style="height: 390px">
            <div class="row m-t-20">
              <div class="col-2">
                <div class="d-flex flex-col gap-32">
                  <span class="f-s-14">8:00</span>
                  <span class="f-s-14">8:30</span>
                  <span class="f-s-14">9:00</span>
                  <span class="f-s-14">9:30</span>
                  <span class="f-s-14">10:00</span>
                  <span class="f-s-14">10:30</span>
                  <span class="f-s-14">11:00</span>
                  <span class="f-s-14">11:30</span>
                  <span class="f-s-14">12:00</span>
                  <span class="f-s-14">12:30</span>
                  <span class="f-s-14">13:00</span>
                  <span class="f-s-14">13:30</span>
                </div>
              </div>
              <div class="col-10">
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-primary">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Marketing Meeting
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >08:30 - 10:00</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-success">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Applied mathematics
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >10:15 - 11:45</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-error">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      SEO Session with Team
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >12:00 - 13:25</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </mat-tab>
      <mat-tab label="4 To 7">
        <div>
          <ng-scrollbar class="position-relative" style="height: 390px">
            <div class="row m-t-20">
              <div class="col-2">
                <div class="d-flex flex-col gap-32">
                  <span class="f-s-14">8:00</span>
                  <span class="f-s-14">8:30</span>
                  <span class="f-s-14">9:00</span>
                  <span class="f-s-14">9:30</span>
                  <span class="f-s-14">10:00</span>
                  <span class="f-s-14">10:30</span>
                  <span class="f-s-14">11:00</span>
                  <span class="f-s-14">11:30</span>
                  <span class="f-s-14">12:00</span>
                  <span class="f-s-14">12:30</span>
                  <span class="f-s-14">13:00</span>
                  <span class="f-s-14">13:30</span>
                </div>
              </div>
              <div class="col-10">
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-error">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      SEO Session with Team
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >12:00 - 13:25</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-primary">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Marketing Meeting
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >08:30 - 10:00</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-success">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Applied mathematics
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >10:15 - 11:45</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </mat-tab>
      <mat-tab label="8 To 10">
        <div>
          <ng-scrollbar class="position-relative" style="height: 390px">
            <div class="row m-t-20">
              <div class="col-2">
                <div class="d-flex flex-col gap-32">
                  <span class="f-s-14">8:00</span>
                  <span class="f-s-14">8:30</span>
                  <span class="f-s-14">9:00</span>
                  <span class="f-s-14">9:30</span>
                  <span class="f-s-14">10:00</span>
                  <span class="f-s-14">10:30</span>
                  <span class="f-s-14">11:00</span>
                  <span class="f-s-14">11:30</span>
                  <span class="f-s-14">12:00</span>
                  <span class="f-s-14">12:30</span>
                  <span class="f-s-14">13:00</span>
                  <span class="f-s-14">13:30</span>
                </div>
              </div>
              <div class="col-10">
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-success">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Applied mathematics
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >10:15 - 11:45</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-primary">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      Marketing Meeting
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >08:30 - 10:00</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
                <mat-card class="cardWithShadow m-t-48">
                  <div class="p-16 timeline-border timeline-border-error">
                    <h6 class="m-t-0 f-s-16 f-w-600 m-b-4">
                      SEO Session with Team
                    </h6>
                    <span class="f-s-14 d-flex align-items-center"
                      ><i-tabler name="clock" class="icon-20 m-r-4"></i-tabler
                      >12:00 - 13:25</span
                    >

                    <div
                      class="d-flex align-items-center gap-8 social-chips small m-t-30"
                    >
                      <img
                        src="assets/images/profile/user-1.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-2.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-3.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <img
                        src="assets/images/profile/user-4.jpg"
                        alt="user-1"
                        class="rounded-circle"
                        width="32"
                      />
                      <span
                        class="icon-32 d-flex align-items-center justify-content-center text-decoration-none"
                        >+8
                      </span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
