<div class="row">
  <div class="col-lg-6">
    <app-welcome-card></app-welcome-card>
  </div>
  <div class="col-lg-6">
    <app-top-cards></app-top-cards>
  </div>
  <div class="col-lg-8">
    <app-profile-expance></app-profile-expance>
  </div>
  <div class="col-lg-4">
    <app-product-sales></app-product-sales>
  </div>
  <div class="col-lg-6">
    <app-traffic-distribution></app-traffic-distribution>
  </div>
  <div class="col-lg-3">
    <app-new-goals></app-new-goals>
    <app-profile-card></app-profile-card>
  </div>
  <div class="col-lg-3">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-lg-8">
    <app-top-employees></app-top-employees>
  </div>
  <div class="col-lg-4">
    <app-upcoming-schedules></app-upcoming-schedules>
  </div>
</div>
