<div class="row">
  <div class="col-lg-4">
    <mat-card class="cardWithShadow bg-primary text-white overflow-hidden">
      <img
        src="assets/images/backgrounds/top-warning-shape.png"
        class="top-img"
      />
      <mat-card-content>
        <i-tabler name="brand-producthunt" class="icon-30 d-flex"></i-tabler>

        <div class="m-t-30 p-t-10">
          <h5 class="f-w-600 f-s-21 m-0">
            2358<span class="f-s-12 f-w-400 m-l-4">+26%</span>
          </h5>
          <span class="f-s-14">Sales</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="cardWithShadow bg-primary text-white overflow-hidden">
      <img
        src="assets/images/backgrounds/top-error-shape.png"
        class="top-img"
      />
      <mat-card-content>
        <i-tabler name="report-money" class="icon-30 d-flex"></i-tabler>
        <div class="m-t-30 p-t-10">
          <h5 class="f-w-600 f-s-21 m-0">
            356<span class="f-s-12 f-w-400 m-l-4">+8%</span>
          </h5>
          <span class="f-s-14">Refunds</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="cardWithShadow bg-primary text-white overflow-hidden">
      <img src="assets/images/backgrounds/top-info-shape.png" class="top-img" />
      <mat-card-content>
        <i-tabler name="currency-dollar" class="icon-30 d-flex"></i-tabler>
        <div class="m-t-30 p-t-10">
          <h5 class="f-w-600 f-s-21 m-0">
            235.8<span class="f-s-12 f-w-400 m-l-4">-3%</span>
          </h5>
          <span class="f-s-14">Earnings</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
