<app-dashboard-sub-header
  [metrics]="metrics"
  [tabs]="tabs"
  [filterOptions]="filterOptions"
  [searchPlaceholder]="searchPlaceholder"
  [activeTab]="activeTab"
  [searchQuery]="searchQuery"
  [viewMode]="viewMode"
  (activeTabChange)="onTabChange($event)"
  (searchQueryChange)="onSearch($event)"
  (viewModeChange)="setViewMode($event)">
</app-dashboard-sub-header>

<div class="units-content">
  <app-cards-units [buildings]="filteredUnitsData" [isReviewTab]="activeTab === 'underReview'"></app-cards-units>
</div>
