<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex align-items-start justify-content-between">
      <span>
        <img
          src="assets/images/profile/user-1.jpg"
          alt="idea"
          width="60"
          class="rounded-circle"
        />
      </span>
      <span class="text-warning f-w-600">#1 in DevOps </span>
    </div>

    <div class="m-t-24">
      <h5 class="f-w-600 f-s-18 m-0">Adam Johnson</h5>
      <span class="f-s-14 f-w-500">Top Developer</span>
    </div>
  </mat-card-content>
</mat-card>
