<mat-card class="cardWithShadow bg-light-primary overflow-hidden">
  <img src="assets/images/backgrounds/top-info-shape.png" class="top-img" />
  <mat-card-content>
    <span
      class="bg-primary rounded-circle icon-46 d-flex align-items-center justify-content-center"
    >
      <img src="assets/images/svgs/icon-idea.svg" alt="idea" width="24" />
    </span>

    <div class="m-t-30">
      <div class="d-flex align-items-center justify-content-between m-b-8">
        <h5 class="f-w-600 f-s-16 m-0">New Goals</h5>
        <span class="f-s-14 text-primary f-w-500">83%</span>
      </div>
      <mat-progress-bar mode="determinate" value="83"></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card>
