<div class="chat-panel">

  <!-- Header -->
  <div class="chat-header">
    <div class="chat-header-top">
      <button class="menu-btn" type="button">
        <i-tabler name="dots-vertical" class="icon-20"></i-tabler>
      </button>
      <button class="close-mobile-btn" type="button" (click)="close.emit()">
        <i-tabler name="x" class="icon-20"></i-tabler>
      </button>

      <div class="client-summary">
             <div class="avatar" [class]="'avatar-' + avatarColor">
          {{ complaint.clientInitials }}
        </div>
        <span class="client-name">{{ displayClientName }}</span>
   
      </div>
    </div>

    <button class="resolve-chat-btn" type="button" (click)="onResolve()">
      <i-tabler name="circle-check" class="icon-18"></i-tabler>
      {{ resolveButtonLabel }}
    </button>
  </div>

  <!-- Messages -->
  <div class="chat-messages">
    @if (complaint.messages.length > 0) {
      <div class="date-separator">
        {{ dateSeparatorLabel }}
      </div>
    }

    @if (complaint.messages.length === 0) {
      <div class="no-messages">
        <i-tabler name="message-2" class="icon-32"></i-tabler>
        <span>{{ 'd3.complaints.chat.noMessages' | translate }}</span>
      </div>
    }

    @for (msg of complaint.messages; track msg.id) {
      <div
        class="msg-row"
        [class.msg-client]="msg.senderRole === 'client'"
        [class.msg-support]="msg.senderRole !== 'client'">

        @if (msg.senderRole !== 'client') {
          <div class="msg-avatar avatar-support">
            <i-tabler name="headset" class="icon-16"></i-tabler>
          </div>
        }

        <div class="msg-content">
          @if (msg.senderRole !== 'client') {
            <span class="msg-sender">{{ 'd3.complaints.chat.supportName' | translate }}</span>
          }
          <div class="msg-bubble" [class.bubble-support]="msg.senderRole !== 'client'">
            <p class="msg-text">{{ displayMessageContent(msg) }}</p>
          </div>
          <span class="msg-time">{{ displayMessageTime(msg) }}</span>
        </div>

      </div>
    }

    <div #messagesEnd></div>
  </div>

  <!-- Input -->
  <div class="chat-composer">
    @if (selectedAttachments.length) {
      <div class="attachments-preview">
        @for (file of selectedAttachments; track file.name + file.size) {
          <button class="attachment-chip" type="button" (click)="removeAttachment($index)">
            <i-tabler name="file" class="icon-14"></i-tabler>
            <span>{{ file.name }}</span>
            <i-tabler name="x" class="icon-12"></i-tabler>
          </button>
        }
      </div>
    }

    <div class="chat-footer">
      <button class="send-btn" type="button" (click)="send()" [disabled]="!canSend">
        <i-tabler name="send-2" class="icon-22"></i-tabler>
      </button>
      <button class="attach-btn" type="button" (click)="openAttachmentPicker()">
        <i-tabler name="paperclip" class="icon-22"></i-tabler>
      </button>
      <input
        #fileInput
        type="file"
        class="file-input"
        multiple
        (change)="onAttachmentChange($event)" />
      <input
        type="text"
        class="msg-input"
        [(ngModel)]="messageText"
        [placeholder]="composerPlaceholder"
        (keydown)="onKeydown($event)" />
    </div>
  </div>

</div>
