<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative shaper-wrapper">
      <div class="w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body">
        <div class="m-t-20">
          <app-branding></app-branding>
        </div>
          <div class="row">
            <div class="col-lg-6">
              <div
                class="align-items-center justify-content-center d-none d-lg-flex"
              >
                <img
                  src="/assets/images/backgrounds/login3-bg.png"
                  alt="login"
                  style="max-width: 500px"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="d-flex align-items-start align-items-lg-center justify-content-center"
              >
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0">
                      Two Step Verification
                    </h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-24"
                      >We sent a verification code to your mobile. Enter the
                      code from the mobile in the field below.</span
                    >
                    <span class="f-w-600 d-block m-t-16">******1234</span>

                    <form class="m-t-30 p-t-30">
                      <mat-label
                        class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                        >Type your 6 digits security code</mat-label
                      >
                      <div class="d-flex align-items-center"></div>
                      <div class="row custom-row">
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                        <div class="col-2">
                          <mat-form-field
                            appearance="outline"
                            class="w-100"
                            color="primary"
                          >
                            <input matInput />
                          </mat-form-field>
                        </div>
                      </div>

                      <a
                        [routerLink]="['/dashboards/dashboard1']"
                        mat-flat-button
                        color="primary"
                        class="w-100"
                      >
                        Verify My Account
                      </a>
                      <!-- input -->
                    </form>
                    <span class="d-block f-w-500 d-block f-s-14 m-t-24"
                      >Didn't get the code?
                      <a
                        [routerLink]="['/dashboards/dashboard1']"
                        class="text-decoration-none text-primary f-w-500"
                        >Resend</a
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
