.team-management-container {
  padding: 10px;
  margin: 0 auto;
  font-family: 'Cairo', sans-serif;

  h3, h2, h5, span, p, button, input {
    font-family: 'Cairo', sans-serif;
  }

  .border-bottom-gray {
    border-bottom: 1px solid #E8E8E4;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
  }

  .line-height-19 {
    line-height: 1.6;
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

::ng-deep {
  .custom-confirm-dialog {
    .mat-mdc-dialog-container {
      border-radius: 24px !important;
      padding: 0 !important;
      overflow: hidden;
    }
  }
}
