html.aqua_theme {
  --mat-sys-primary: #0074ba;
  --mat-sys-primary-fixed-dim: rgb(0, 116, 186, 0.15);
  --mat-sys-secondary: rgb(57, 199, 173);
  --mat-sys-secondary-fixed-dim: rgb(57, 199, 173, 0.15);
  --mat-sys-tertiary: rgb(57, 199, 173);
}
