<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-sm-6">
        <mat-card-title>Welcome Jonathan Deo</mat-card-title>
        <mat-card-subtitle class="m-b-30"
          >Check all the statastics</mat-card-subtitle
        >
        <button mat-flat-button>Visit Now</button>
      </div>
      <div class="col-sm-5">
        <img
          src="assets/images/backgrounds/welcome-bg.png"
          alt="welcome"
          width="340"
          class="welcome-img d-none d-lg-flex"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>
