<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title>Visit From USA</mat-card-title>
    <mat-card-subtitle>Top locations</mat-card-subtitle>

    <div
      id="current-visitors"
      style="width: 100%; height: 239px"
      class="m-y-20"
    ></div>
  </mat-card-content>
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-between gap-16">
      <span class="f-w-600 f-s-14">LA</span>
      <mat-progress-bar mode="determinate" value="28"></mat-progress-bar>
      <span class="f-w-600 f-s-14">28%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">NY</span>
      <mat-progress-bar
        mode="determinate"
        class="mat-secondary"
        value="21"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14">21%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">AT</span>
      <mat-progress-bar
        mode="determinate"
        class="mat-error"
        value="18"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14">18%</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-between gap-16 m-t-20"
    >
      <span class="f-w-600 f-s-14">CA</span>
      <mat-progress-bar
        mode="determinate"
        class="mat-warning"
        value="12"
      ></mat-progress-bar>
      <span class="f-w-600 f-s-14">12%</span>
    </div>
  </mat-card-content>
</mat-card>
